/* Product list styles */
#product-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
}

.product-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-price {
  color: #007bff; /* Blue color for price */
}

.product-image {
  width: 100%;
  height: 239px;
  margin-bottom: 0.25rem;
  object-fit: cover;
}

.add-to-cart-btn {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
