/* Navbar styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #007bff; /* Blue background color */
  color: #fff;
  padding: 10px;
}

.navbar div.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div.nav-container a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  font-weight: bold;
}
